

.sidebar{
   width: 300px;
   position: fixed;
   height: 400px;
   background: #1c1c1c;
   padding: 20px;
   z-index: 100;
}
.title{
    color: whitesmoke;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}

.profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.4rem;
}
.profile-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #e2336b;
}

.profile-img img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}
.name {
    display: flex;
    align-items: center;
    color: #fff;

}
.about {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

}
.box{
    align-items: center;
}
.box h3{
    font-size: 1rem;
    font-weight: 500;
}

.menu{
    margin-top: 15px;
    margin-left: 5px;

}
.menu #link{
    width: 100%;
    font-size: .9rem;
    color: white;
    text-decoration: none;
    align-items: center;
    line-height: 40px;
    margin-left: 12px;



}
#link #icon{
    margin-right: 10px;
}


#link:hover,
.menu .active:hover{
    color: orangered;
}
#fa{
    margin-right: 7px;
}