*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: monospace;
  overflow-x: auto;
  background: black;

}


::-webkit-scrollbar{
  width: 3px;
}

::-webkit-scrollbar-track{
  background: #1c1c1c;
}

::-webkit-scrollbar-thumb{
  background: #eee;
}

